body{
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    height: 100vh;
}
#site-heading h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(248, 248, 248);
    letter-spacing: 1px;
}
main{
    height: 100%;
    margin: 0%;
}
header{
    box-shadow: 0px 0px 10px 3px rgb(204, 157, 255);
    margin: auto;
    height: 70px;
    width: 60%;
    background: linear-gradient(45deg ,rgba(93, 70, 220, 0.886) 60% ,rgba(106, 15, 203, 0.824) 100%);
    border-radius:9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 15px;
    margin-top: 5px;
    transition: 0.5s ease-in-out;
}
header:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg ,rgba(72, 51, 193, 0.986) 60% ,rgba(87, 8, 172, 0.924) 100%);
    box-shadow: 0px 0px 15px 5px rgb(226, 200, 255);
}
#sign ul li{
    display: inline-block;
    padding: 0px 9px;
}
#sign ul li p a{
    text-decoration: none;
    color: rgb(15, 253, 241);
    font-size:large;
    font-weight:bold;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}