<header>
    <div id="site-heading">
        <h1>Reviwerz</h1>
    </div>
    <div id="sign">
        <ul>
            <li>
                <p>
                    <a href="">
                        SignUp
                    </a></p>
            </li>
            <li>
                <p>
                    <a href="">
                        SignIn
                    </a>
                </p>
            </li>
        </ul>
    </div>
</header>