<link rel="stylesheet" href="/css/home.css">
<section id="home-sign-section">
    <div class="box">
        <h1>Admin</h1>
        <div class="sign-box">
            <input type="email" name="a_email" id="a_email" placeholder="Enter email">
            <input type="password" name="a_password" id="a_password" placeholder="Enter passsword">
        </div>
    </div>
    <div class="box">
        <h1>Employee</h1>
    </div>
</section>