<form action="/employee/create" method="post">
    <input type="text" name="name" id="" placeholder="Name" required>
    <input type="email" name="email" id="" placeholder="email" required>
    <input type="password" name="password" id="" placeholder="passsword" required>
    <input type="password" name="confirm_password" id="" placeholder="Confirm passsword" required>
    <button type="submit">Submit</button>
</form>